* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans", sans-serif;
}

h3 {
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
}
p:not(:last-child) {
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
}

li {
  font-size: 1.25rem;
  list-style-position: inside;
}

.hero-section {
  background: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/outdoors-1.jpg") no-repeat 50%;
  background-size: cover;
}

.page-header {
  margin: 12rem 2rem 9rem 2rem;
  text-align: center;
}

.page-heading, .page-subheading {
  color: #fff;
}

.page-heading {
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
}

.page-subheading {
  font-size: 1.5rem;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: all 0.5s ease;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav-link:not(:last-child) {
  margin-right: 1rem;
}
.nav-link:hover {
  text-decoration: underline;
}

.nav-logo {
  width: 3rem;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.main-path {
  animation: main 3s linear, fill 0.1s linear;
  animation-delay: 0s, 2.5s;
  animation-fill-mode: forwards;
}

.secondary-path {
  animation: main 3s linear, fill 0.1s linear;
  animation-delay: 1.9s, 2.5s;
  animation-fill-mode: forwards;
}

@keyframes main {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: #fff;
  }
}
.main-content {
  background: #014421;
}

.section {
  padding: 6rem 2rem;
}

.section-header {
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

.section-content {
  max-width: 50rem;
  margin: auto;
  color: #fff;
  font-size: 2rem;
}

.section-content a {
  color: #fff;
}

.midwave {
  fill: #fff;
}
.midwave:nth-child(2) {
  transform: translateY(10px);
}

.contact-section {
  background: #014421;
  color: #444;
}

.contact-form {
  max-width: 50rem;
  margin: auto;
  font-size: 1.5rem;
}

.form-row {
  display: flex;
  justify-content: space-around;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
}

.form-group {
  margin: auto;
  width: 100%;
  padding: 0.5rem;
}

.form-row .form-group {
  width: 50%;
}

.form-input, .form-textarea {
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
}

.form-textarea {
  height: 10rem;
  resize: none;
}

.header-waves {
  transform: translateY(10px);
}

.btn {
  cursor: pointer;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 1.5rem;
  transition: background, color 0.5s ease;
}

.form-btn {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}
.form-btn:hover {
  background: #fff;
  color: #014421;
}

.back-btn {
  background: #014421;
  color: #fff;
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
}
.back-btn:hover {
  background: #fff;
  color: #014421;
}

.form-button-group {
  text-align: center;
}

.footer-wave {
  background: #fff;
}

.site-footer {
  transform: translateY(calc(0.2222 * 100vw / 2 * -1));
  height: 0;
  padding: 0.5rem;
  color: #014421;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  text-align: center;
  width: 6rem;
}
.footer-logo img {
  width: 100%;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 3rem 0.5rem;
}
.link-container a {
  color: #014421;
  width: 2rem;
  height: 2rem;
}
.link-container a:not(:last-child) {
  margin-right: 1.5rem;
}

.footer-copyright {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/outdoors-1-sm.jpg") no-repeat 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 8px;
  }
}