* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #eee;
  overflow-x: hidden;
}

h1 {
  color: #222;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

hr {
  border: 0.5px solid #bb0000;
  display: block;
  margin-bottom: 0.75rem;
  width: 15rem;
}

a {
  color: #333;
}

svg {
  width: 10rem;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  width: 75%;
}

img {
  height: auto;
  margin-bottom: 1.5rem;
  width: 10rem;
}

.container {
  display: flex;
}

.col {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 1rem;
  width: 66.6vw;
}

.col:first-child {
  background: #bb0000;
  transform: skewX(-10deg);
  width: 33.3vw;
}

.socials {
  background: #bb0000;
  border-radius: 4px;
  padding: 1rem;
  transform: skewX(-10deg);
}

.socials a {
  color: #eee;
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
}

.socials a:not(:last-child) {
  margin-right: 1rem;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.mainPath {
  animation: main 3s linear, fill 0.1s linear;
  animation-delay: 0s, 2.5s;
  animation-fill-mode: forwards;
}

.secPath {
  animation: main 3s linear, fill 0.1s linear;
  animation-delay: 1.9s, 2.5s;
  animation-fill-mode: forwards;
}

#arrow {
  border-style: solid;
  border-color: #fff;
  border-left-width: 3px;
  border-bottom-width: 3px;
  border-right-width: 0px;
  border-top-width: 0px;
  bottom: 2rem;
  cursor: pointer;
  display: none;
  position: absolute;
  transform: rotateZ(-45deg);
  height: 20px;
  width: 20px;
}

#arrow::before {
  border-style: solid;
  border-color: #bb0000;
  border-left-width: 3px;
  border-bottom-width: 3px;
  border-right-width: 0px;
  border-top-width: 0px;
  bottom: 3rem;
  content: '';
  cursor: pointer;
  height: 20px;
  width: 20px;
}

@keyframes main {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: #eee;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 2rem;
    width: auto;
  }

  svg {
    width: 60vw;
  }

  .container {
    flex-direction: column;
  }

  .col {
    padding: 0.5rem;
    width: auto;
  }

  .col:first-child {
    transform: skewX(0deg);
    width: auto;
  }

  .socials {
    transform: skewX(0deg);
  }

  .socials a {
    font-size: 1.5rem;
  }

  #arrow {
    display: block;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
}