//-- Global Variables --//
$red: #bb0000;
$dark-red: #990000;
$light: #fff;
$dark: #222;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(45deg, $red 50%, $dark-red 50%) repeat;
  background-size: 50px 50px;

  //background: linear-gradient(90deg, $red 50%, $dark-red 100%) repeat;

  //background: $red;
}

p {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  text-align: justify;
  width: 50%; margin: auto;
  color: $dark-red;
  font-family: 'Open Sans', sans-serif;
}


//-- Layout Styles --//
.splash-page {
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 4rem), 50% 100%, 0% calc(100% - 4rem));
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: $light;
}

.section-header {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  text-align: center;
  color: $red;
  font-size: 3rem;
  font-family: 'Sen', sans-serif;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);// rotateZ(45deg);
    width: 15px;
    height: 15px;
    background: $red;
  }

  &:before {
    left: -1.5rem;
    clip-path: polygon(50% 0%, 0% 50%, 50% 100%);
  }

  &:after {
    right: -1.5rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
    background: $dark-red;
  }
}

// -- About Section -- //
.main-section {
  clip-path: polygon(2rem 0%, 50% 4rem, calc(100% - 2rem) 0%, calc(100% - 2rem) calc(100% - 4rem), 50% 100%, 2rem calc(100% - 4rem));
  //clip-path: polygon(0% 0%, 50% 4rem, 100% 0%, 100% calc(100% - 4rem), 50% 100%, 0% calc(100% - 4rem));
  min-height: 100vh;
  padding: 7rem 6rem 6rem 6rem;
  position: relative;
  z-index: 4;
  bottom: 1.5rem;
  margin-top: 2rem;
  background: $light;
  text-align: center;

  .inner-container {
    margin: 0 auto;
    //border-left: 5px solid $red;
    //border-right: 5px solid $red;
    color: $red;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.picture-container {
  width: 18rem;
  height: 18rem;
  position: relative;
  margin: 1rem 0 1.5rem 0;

  .picture {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 100%;
    display: block;
  }

  &:before {
    content: '';
    width: 14rem;
    height: 14rem;
    position: absolute;
    background: linear-gradient(45deg, $red 50%, $dark-red 50%) repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(45deg);
    //transform: rotateZ(90deg);
  }
}

//-- Contact Section -->
.project-section {
  clip-path: polygon(0% 0%, 50% 4rem, 100% 0%, 100% 100%, 0% 100%);
  padding: 5rem 0 2rem 0;
  text-align: center;
  background: $light;
}

.project-container {
  width: 50%;
  margin: 2rem auto;
}

.project {
  clip-path: polygon(0% 0%, 50% 2rem, 100% 0%, 100% calc(100% - 2rem), 50% 100%, 0% calc(100% - 2rem));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
}

.first-project {
  clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% calc(100% - 2rem), 50% 100%, 0% calc(100% - 2rem));
}

.last-project {
  clip-path: polygon(0% 0%, 50% 2rem, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
}

.project-image {
  height: 6rem;
  margin-bottom: 1rem;
}

.project-name {
  width: 100%;
  font-family: 'Sen', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.clothes-pen {
  background:linear-gradient(rgba(0, 119, 176, 0.7), 
  rgba(0, 119, 176, 0.7)
  ),url('../assets/projects/clothes-pen-website.png') center no-repeat;

  background-size: contain;
}

.life-organizer {
  background:linear-gradient(rgba(111, 115, 251, 0.7), 
    rgba(111,115,251, 0.7)
  ),url('../assets/projects/life-organizer-website.png') center no-repeat;
  background-size: contain;
}

.cscade {
  background:linear-gradient(rgba(203, 0, 0, 0.7), 
    rgba(203, 0, 0, 0.7)
  ),url('../assets/projects/cscade-website.png') center no-repeat;
  background-size: contain;
}
//-- Footer Section --//

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  color: $light;
}

.footer-logo {
  width: 6rem;
  margin-bottom: 4rem;
}

.link-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;

  a {
    border: 2px solid $light;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateZ(45deg);
    width: 3.5rem;
    height: 3.5rem;
    color: $light;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.25s ease;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }

    &:hover {
      background: $light;
      color: $red;
    }

    i {
      transform: rotateZ(-45deg);
    }
  }
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
}

//-- Main Header Styles --//
$total-letters: 12;
$slide-duration: 0.3s;
$initial-delay: 2.7s;
$incremental-delay: 0.1s;

.header {
  position: absolute;
  //left: 50%;
  //transform: translateX(-50%);
  left: 1rem;
  top: 0.5rem;
  overflow: hidden;
  font-family: 'Sen', sans-serif;
  font-size: 2rem;
}

.letter {
  position: relative;
  top: 2.2rem;
  color: $red;
}

.last-letter {
  margin-right: 1rem;
}

@keyframes slideUp {
  from {
    top: 2.2rem;
  }
  to {
    top: 0rem;
  }
}

@for $i from 1 through $total-letters {
  .letter:nth-child(#{$i}) {
    animation: slideUp $slide-duration ease forwards ($i * $incremental-delay + $initial-delay);
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 1.5rem;
  }
}

//-- Logo Styles --//
.main-logo {
  height: 25rem;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.main-path {
  animation: main 3s linear, fill 0.1s linear;
  animation-delay: 0s, 2.5s;
  animation-fill-mode: forwards;
}

.secondary-path {
  animation: main 3s linear, fill 0.1s linear;
  animation-delay: 1.9s, 2.5s;
  animation-fill-mode: forwards;
}

@keyframes main {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: $red;
  }
}

// -- Menu Styles -- //
@mixin transition($property, $time, $delay) {
  transition: $property $time ease;
  transition-delay: $delay;
}

.menu-container {
  $menu-width: 75px;
  $menu-open-height: $menu-width * 4;
  $display-delay: 2.7s;

  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 2;
  overflow: hidden;
  transform: translateX(0%);
  width: $menu-width;

  &:hover {
    .top-arrow, .bottom-arrow {
      transform: translateY(0%) rotateZ(0deg);
    }
    
    .menu-items {
      height: $menu-open-height;

      .menu-item {
        opacity: 1;
      }
    }
  }

  .arrow {
    @include transition(all, 0.5s, 0s);
    
    transform: rotateZ(-90deg);
    height: $menu-width * 0.5;
    width: $menu-width;
    cursor: pointer;
  }

  .top-arrow {
    clip-path: polygon(50% 0%, 100% 95%, 0% 95%);
    -webkit-clip-path: polygon(50% 0%, 100% 95%, 0% 95%);
    animation: slideInLeft 1s ease $display-delay;
    transform: rotateZ(-90deg);
    transform-origin: bottom center;
    background: $red;
  }

  .bottom-arrow {
    clip-path: polygon(0% 5%, 100% 5%, 50% 100%);
    -webkit-clip-path: polygon(0% 5%, 100% 5%, 50% 100%);
    animation: slideInRight 1s ease $display-delay;
    transform: rotateZ(-90deg);
    transform-origin: top center;
    background: $dark-red;
  }

  .menu-items {
    @include transition(all, 0.5s, 0.5s);

    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    height: 0;

    .menu-item {
      @include transition(all, 0.5s, 0s);
      
      width: 100%;
      padding: 0.5rem;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: $light;
      text-decoration: none;
      opacity: 0;
      background: $red;

      &:hover {
        background: $dark-red;
      }
    }
  }
}

@keyframes slideInRight {
  from {
    transform: translateY(200%) rotateZ(-90deg);
  }
  to {
    transform: translateY(0%) rotateZ(-90deg);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateY(-200%) rotateZ(-90deg);
  }
  to {
    transform: translateY(0%) rotateZ(-90deg);
  }
}

@media (max-width: 768px) {
  .menu-container {
    $menu-width: 50px;
  }
}

// -- Arrow Styles -- //

.arrow-container {
  $arrow-width: 50px;

  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
  overflow: hidden;
  width: $arrow-width;
  height: $arrow-width * 1.5;

  .arrow {
    position: absolute;
    bottom: 100%;
    clip-path: polygon(50% 75%, 100% 50%, 50% 100%, 0 50%);
    -webkit-clip-path: polygon(50% 75%, 100% 50%, 50% 100%, 0 50%);
    animation: slideIn 1s ease 2.7s forwards;
    width: 100%;
    height: 100%;
    background: $red;

    &:after {
      content: '';
      clip-path: polygon(50% 75%, 100% 50%, 50% 100%);
      width: 100%;
      height: 100%;
      background: $dark-red;
      position: absolute;
    }
  }
}

@keyframes slideIn {
  from {
    bottom: 110%;
  }
  to {
    bottom: 50%;
  }
}