//-- Variables --//
$light: #fff;
$dark: #222;
$purple-0: #7040ff;
$purple-1: #3500d3;
$purple-2: #240090;
$purple-3: #190061;
$purple-4: #0c0032;
$orange-0: #fedebe;
$orange-1: #ffaf42;
$orange-2: #ff8302;
$orange-3: #fe6e00;
$orange-4: #fd5602;
$red-0: #bb0000;

$text-shadow-length: 3px;
$border-radius: 6px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background:  $purple-1 url('../assets/sun.svg') no-repeat 50% calc(100% - (0.2222 * 100% / 3));
  background-size: calc(max(20rem, 25vw));
}

//-- Layout Styles --//
.hero-section {
  min-height: 100%;
}

.page-heading, .page-subheading {
  text-align: center;
  color: #fff;
  font-family: 'Sen', sans-serif;
}

.page-heading {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
  text-shadow: 3px 3px $dark;
}

.page-subheading {
  font-size: 1.5rem;
  text-shadow: 2px 2px $dark;
}

//-- Header --//
.main-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: linear-gradient($purple-1 90%, $purple-2 90%, $purple-2 95%, $purple-3 95%);
}

.nav-link {
  font-family: 'Sen', sans-serif;
  color: $light;
  text-decoration: none;
  font-size: 1.5rem;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover {
    text-decoration: underline;
  }
}

//-- Logo Styles --//
.nav-logo {
  width: 3rem;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.main-path {
  animation: main 3s linear, fill 0.1s linear;
  animation-delay: 0s, 2.5s;
  animation-fill-mode: forwards;
}

.secondary-path {
  animation: main 3s linear, fill 0.1s linear;
  animation-delay: 1.9s, 2.5s;
  animation-fill-mode: forwards;
}

@keyframes main {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: $light;
  }
}

.main-content {
  background: $purple-4;
}

.section {
  padding: 6rem 2rem;
}

.section-header {
  color: $light;
}

.section-header {
  margin-bottom: 1rem;
  font-family: 'Sen', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.section-content {
  max-width: 50rem;
  margin: auto;
  font-size: 2rem;
  line-height: 3rem;
  color: $light;
}

.dev-section {
  background: $purple-3;
}

.gradient-transition-1 {
  background: linear-gradient($purple-2 50%, $purple-3 50%, $purple-3 100%);
  height: 2.5rem;
}

.gradient-transition-2 {
  background: linear-gradient($purple-3 25%, $purple-2 25%, $purple-2 50%, $purple-1 50%, $purple-1 75%, $purple-0 75%);
  height: 5rem;
}

.services {
  max-width: 50rem;
  margin: 2rem auto 0;
  color: $purple-4;
}

.services {
  text-align: center;
}

.service-container {
  background-color: $light;
  border-radius: $border-radius;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.service-header {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding: 1rem;
  font-size: 1.5rem;
  background: $purple-1;
  color: #fff;

  h3 {
    font-family: 'Sen', sans-serif;
  }

  img {
    width: 4rem;
    margin-bottom: 1rem;
  }
}

.service-list {
  list-style: none;

  li {
    padding: 1rem;
    font-size: 1.25rem;
  }
}

.contact-section {
  background: $light;
  color: $purple-1;
}

.contact-section .section-header {
  color: $purple-1;
}

.contact-form {
  max-width: 50rem;
  margin: auto;
  font-size: 1.5rem;
}

.form-row {
  display: flex;
  justify-content: space-around;
}

.form-label {
  display: block;
}

.form-group {
  margin: auto;
  width: 100%;
  padding: 0.5rem;
}

.form-row .form-group {
  width: 50%;
}

.form-input, .form-textarea {
  border: 2px solid $purple-1;
  border-radius: $border-radius;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
}

.form-textarea {
  height: 10rem;
  resize: none;
}

.form-button {
  cursor: pointer;
  border: 2px solid $purple-1;
  border-radius: $border-radius;
  background: transparent;
  padding: 0.5rem;
  color: $purple-1;
  font-size: 1.5rem;
  transition: background, color 0.5s ease;

  &:hover {
    background: $purple-1;
    color: #fff;
  }
}

.form-button-group {
  text-align: center;
}

.site-footer {
  transform: translateY(calc(0.2222 * 100vw / 2 * -1));
  height: 0; // So FireFox would not have extra space where the footer should be.
  padding: 0.5rem;
  color: $light;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  text-align: center;
  width: 6rem;

  img {
    width: 100%;
  }
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 3rem 0.5rem;

  a {
    color: $light;
    width: 2rem;
    height: 2rem;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    img {
      height: 100%;
    }
  }
}

.footer-copyright {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

@media(min-width: 1400px) {
  html {
    font-size: 18px;
  }
}

@media(min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media(max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media(max-width: 400px) {
  html {
    font-size: 10px;
  }
}
