//-- Variables --//
$light: #fff;
$dark: #222;
$primary: #3500d3;
$primary-dark: #331392;
$border-radius: 6px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background: $light;
}

h1 {
  font-family: 'Noto Sans KR', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
}

//-- Layout Styles --//
.hero-section {
  background: $light;
}

.page-header {
  margin: 5rem 0 9rem 0;
}

.page-heading, .page-subheading {
  text-align: center;
  color: $primary;
}

.page-heading {
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
}

.page-subheading {
  font-size: 1.5rem;
}

//-- Header --//
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-link {
  color: $primary;
  text-decoration: none;
  font-size: 1.5rem;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover {
    text-decoration: underline;
  }
}

//-- Logo Styles --//
.nav-logo {
  width: 3rem;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.main-path {
  animation: main 3s linear, fill 0.1s linear;
  animation-delay: 0s, 2.5s;
  animation-fill-mode: forwards;
}

.secondary-path {
  animation: main 3s linear, fill 0.1s linear;
  animation-delay: 1.9s, 2.5s;
  animation-fill-mode: forwards;
}

@keyframes main {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: $primary;
  }
}

.main-content {
  background: $primary;
}

.about-photo {
  display: block;
  width: 20vw;
  min-width: 15rem;
  max-width: 20rem;
  margin: 3rem auto 4rem auto;
}

.section {
  padding: 6rem 2rem;
}

.section-header {
  margin-bottom: 1rem;
  font-size: 3rem;
  text-align: center;
  color: $light;
}

.section-content {
  max-width: 50rem;
  margin: auto;
  color: $light;
}

.midwave {
  fill: $light;

  &:nth-child(2) {
    transform: translateY(10px);
  }
}

.services-section {
  background: $light;

  .section-header, .section-content {
    color: $dark;
  }
}

.service-container {
  display: flex;
  max-width: 80rem;
  width: 80vw;
  margin: auto;
  justify-content: space-between;
}

.service {
  display: flex;
  flex-flow: column nowrap;
  background: #eee;
  border-radius: 0.5rem;
  flex: 0 1 48%;
}

.service-header {
  background: #eee;
  color: $dark;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.service-col {
  flex: 0 1 50%;
}

.service-description {
  padding: 1.5rem;
}

.contact-section {
  background: $primary;
  color: $dark;
}

.contact-form {
  max-width: 50rem;
  margin: auto;
  font-size: 1.5rem;
}

.form-row {
  display: flex;
  justify-content: space-around;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: $light;
}

.form-group {
  margin: auto;
  width: 100%;
  padding: 0.5rem;
}

.form-row .form-group {
  width: 50%;
}

.form-input, .form-textarea {
  border: none;
  border-radius: $border-radius;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
}

.form-textarea {
  height: 10rem;
  resize: none;
}

.wave1 {
  transform: translateY(10px);
}

.form-button {
  cursor: pointer;
  border: 2px solid $light;
  border-radius: $border-radius;
  background: transparent;
  padding: 0.5rem;
  color: $light;
  font-size: 1.5rem;
  transition: background, color 0.5s ease;

  &:hover {
    background: $light;
    color: $primary;
  }
}

.form-button-group {
  text-align: center;
}

.footer-wave {
  background: $light;
}

.site-footer {
  transform: translateY(calc(0.2222 * 100vw / 2 * -1));
  height: 0; // So FireFox would not have extra space where the footer should be.
  padding: 0.5rem;
  color: $primary;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  text-align: center;
  width: 6rem;

  img {
    width: 100%;
  }
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 3rem 0.5rem;

  a {
    color: $primary;
    width: 2rem;
    height: 2rem;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    img {
      height: 100%;
    }
  }
}

.footer-copyright {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

@media(min-width: 1400px) {
  html {
    font-size: 18px;
  }
}

@media(min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media(max-width: 1000px) {
  .service-container {
    flex-flow: column nowrap;
  }

  .service {
    margin-bottom: 1rem;
  }
}

@media(max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media(max-width: 400px) {
  html {
    font-size: 10px;
  }
}
